<div class="container">

<h1> Test de l'index des lists </h1>



<% @lists.each do |list| %>
 <li><%= link_to list.name,list_path(list.id) %></li>
<% end %>


<%= link_to "Creer une liste",new_list_path%>


</div>
